<div class="m-2">
  <h2 class="text-xl font-bold my-6 text-center">DELETE QUERY</h2>

  <!-- Table Name Component -->
  <div class="w-full flex flex-wrap gap-4 mb-4 mx-4">
    <app-table-name
      [table]="query.table"
      (tableChange)="query.table = $event"
      class="w-1/4"
    ></app-table-name>

    <!-- Table Alias Component -->
    <app-table-alias
      [alias]="query.alias"
      (aliasChange)="query.alias = $event"
      class="w-1/4"
    ></app-table-alias>
  </div>

  <!-- Filters Component -->
  <div class="mb-4 mx-4">
    <app-filters
      [filters]="query.filters"
      (filtersChange)="query.filters = $event"
    ></app-filters>

  <!-- Joins Component (Optional) -->
    <app-join-query
      [joins]="query.joins"
      (joinsChange)="query.joins = $event"
    ></app-join-query>

  <!-- Sort Component (Optional) -->
    <app-sort
      [orderBy]="query.orderBy"
      (orderByChange)="query.orderBy = $event"
    ></app-sort>

  <!-- Limit Component -->
    <app-limit
      [limit]="query.limit"
      (limitChange)="query.limit = $event"
    ></app-limit>

  <!-- Generate Query Component -->
    <app-query-generate-button
      (generate)="generateQuery()"
    ></app-query-generate-button>
  </div>

  <!-- Display Generated Query -->
  <div *ngIf="generatedQuery" class="mt-6 p-4 bg-gray-100 border rounded">
    <h4 class="text-lg font-bold text-green-600">Generated Query</h4>
    <pre>{{ generatedQuery }}</pre>
  </div>
</div>

