<div class="query-form font-serif p-6">
  <h3 class="text-xl my-6 font-bold text-center">INSERT QUERIES</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="m-4 px-4">
      <label for="table" class="font-bold text-lg block mb-2"
        >Table Name <span class="text-red-500">*</span></label
      >
      <input
        id="table"
        [(ngModel)]="query.table"
        name="table"
        class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 h-8 p-2.5"
        placeholder="Enter table name"
        required
      />
    </div>

    <div class="mb-4 mx-4 px-4">
      <label class="block font-bold text-lg mb-2">Fields and Values</label>
      <div *ngFor="let field of query.fields; let i = index" class="mb-2 pb-2">
        <div class="flex items-center gap-4">
          <!-- Field Name -->
          <label class="block font-bold mb-2"
            >Field <span class="text-red-500">*</span></label
          >
          <input
            type="text"
            [(ngModel)]="field.name"
            name="fieldName{{ i }}"
            class="h-8 input w-1/3 p-2 border border-gray-900 rounded-lg"
            placeholder="Field Name separated by commas"
            required
          />
          <!-- Field Value -->
          <label class="block font-bold mb-2"
            >Value <span class="text-red-500">*</span></label
          >
          <input
            type="text"
            [(ngModel)]="field.value"
            name="fieldValue{{ i }}"
            class="input h-8 w-1/3 p-2 border border-gray-900 rounded-lg"
            placeholder="Value separated by commas"
            required
          />
          <button
            type="button"
            (click)="removeField(i)"
            class="bg-red-500 text-white w-auto px-3 py-1 rounded hover:bg-red-600"
          >
            Remove
          </button>
        </div>
      </div>
      <button
        type="button"
        (click)="addField()"
        class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600"
      >
        Add Field
      </button>
    </div>
    <!-- Query Preview -->
    <div
      *ngIf="query.table && query.fields.length > 0"
      class="text-center mb-4"
    >
      <h4 class="text-lg font-bold mb-4 text-green-700">QUERY PREVIEW</h4>
      <p class="text-lg">
        INSERT INTO <strong>{{ query.table }}</strong> (
        <span *ngFor="let field of query.fields; let i = index">
          {{ field.name }}<span *ngIf="i < query.fields.length - 1">, </span>
        </span>
        ) VALUES (
        <span *ngFor="let field of query.fields; let i = index">
          '{{ field.value }}'<span *ngIf="i < query.fields.length - 1">, </span>
        </span>
        )
      </p>
    </div>
  </form>
</div>
