<div class="text-black font-serif flex w-screen h-screen">
  <!-- Sidebar -->
  <div
    class="sidebar w-1/6 bg-gray-800 border-white text-gray-200 border-r-4 py-6"
  >
    <h1 class="text-2xl px-4 font-bold mb-4">QUERY BUILDER</h1>
    <ul class="">
      <li>
        <button
          (click)="selectPage('table')"
          [ngClass]="{'bg-[#9E9FA5] text-black': currentPage === 'table'}"
          class="w-full text-left py-2 px-6 hover:bg-[#9E9FA5] hover:text-black text-lg"
        >
          Table Queries
        </button>
      </li>
      <li>
        <button
          (click)="selectPage('select')"
          [ngClass]="{'bg-[#9E9FA5] text-black': currentPage === 'select'}"
          class="w-full text-left py-2 px-6 hover:bg-[#9E9FA5] hover:text-black text-lg"
        >
          Select Queries
        </button>
      </li>
      <li>
        <button
          (click)="selectPage('insert')"
          [ngClass]="{'bg-[#9E9FA5] text-black' : currentPage === 'insert'}"
          class="w-full text-left py-2 px-6 hover:bg-[#9E9FA5] hover:text-black text-lg"
        >
          Insert Queries
        </button>
      </li>
      <li>
        <button
          (click)="selectPage('update')"
          [ngClass]="{'bg-[#9E9FA5] text-black': currentPage === 'update'}"
          class="w-full text-left py-2 px-6 hover:bg-[#9E9FA5] hover:text-black text-lg"
        >
          Update Queries
        </button>
      </li>
      <li>
        <button
          (click)="selectPage('delete')"
          [ngClass]="{'bg-[#9E9FA5] text-black': currentPage === 'delete'}"
          class="w-full text-left py-2 px-6 hover:bg-[#9E9FA5] hover:text-black text-lg"
        >
          Delete Queries
        </button>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-1 bg-[#F1EFEF] rounded-xl px-24 py-4">
    <div *ngIf="currentPage === 'table'">
      <app-table-queries></app-table-queries>
    </div>
    <div
      *ngIf="currentPage === 'select'"
      class="px-4 py-2 my-16 border shadow-lg shadow-[#9E9FA5] rounded-xl bg-[#9E9FA5] max-h-[80vh] overflow-y-auto scrollbar-thin"
    >
      <app-select-queries></app-select-queries>
    </div>
    <div
      *ngIf="currentPage === 'insert'"
      class="px-4 py-2 my-16 border shadow-lg shadow-[#9E9FA5] rounded-xl bg-[#9E9FA5] max-h-[80vh] overflow-y-auto scrollbar-thin"
    >
      <app-insert-queries></app-insert-queries>
    </div>
    <div
      *ngIf="currentPage === 'update'"
      class="px-4 py-2 my-16 border shadow-lg shadow-[#9E9FA5] rounded-xl bg-[#9E9FA5] max-h-[80vh] overflow-y-auto scrollbar-thin"
    >
      <app-update-queries></app-update-queries>
    </div>
    <div
      *ngIf="currentPage === 'delete'"
      class="px-4 py-2 my-16 border shadow-lg shadow-[#9E9FA5] rounded-xl bg-[#9E9FA5] max-h-[70vh] overflow-y-auto scrollbar-thin"
    >
      <app-delete-queries></app-delete-queries>
    </div>
  </div>
</div>
