<div class="sort mb-4">
  <h3 class="font-bold text-lg mb-2">Sort By</h3>
  <div class="flex items-center gap-4 mb-4">
    <input
      type="text"
      [(ngModel)]="orderBy.field"
      name="orderByField"
      class="border border-gray-900 rounded-lg focus:ring-blur-500 focus:border-blue-500 block w-1/4 h-8 p-2.5"
      placeholder="Field to sort by"
    />
    <select
      [(ngModel)]="orderBy.direction"
      (ngModelChange)="onSortChange()"
      name="orderByDirection"
      class="border border-gray-900 rounded-lg focus:ring-blur-500 focus:border-blue-500 block w-1/4 h-8 p-1"
    >
      <option value="ASC">Ascending</option>
      <option value="DESC">Descending</option>
    </select>
  </div>
</div>
