<div class="m-2">
  <h2 class="text-xl font-bold my-6 text-center">UPDATE QUERY</h2>

  <!-- Table Name Component -->
  <div class="w-full flex flex-wrap gap-4 mb-4 mx-4">
    <app-table-name
      [table]="query.table"
      (tableChange)="query.table = $event"
      class="w-1/4"
    ></app-table-name>

    <!-- Table Alias Component -->
    <app-table-alias
      [alias]="query.alias"
      (aliasChange)="query.alias = $event"
      class="w-1/4"
    ></app-table-alias>
  </div>

  <!--Fields to update Section-->
  <div class="mb-4 mx-4">
    <h3 class="text-lg font-semibold mb-2">Fields to Update</h3>
    <div
      *ngFor="let field of query.fields; let i = index"
      class="flex flex-wrap items-center gap-4 mb-2"
    >
      <!-- Field Name Section -->
      <div class="flex items-center gap-2 w-full md:w-1/3">
        <label class="whitespace-nowrap">Field Name:</label>
        <input
          type="text"
          [(ngModel)]="field.name"
          name="fieldName{{ i }}"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-2.5 w-full"
          placeholder="Field name"
        />
      </div>

      <!-- Field Value Section -->
      <div class="flex items-center gap-2 w-full md:w-1/3">
        <label class="whitespace-nowrap">Field Value:</label>
        <input
          type="text"
          [(ngModel)]="field.value"
          name="fieldValue{{ i }}"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-2.5 w-full"
          placeholder="Field value"
        />
      </div>

      <!-- Remove Button -->
      <button
        type="button"
        (click)="removeField(i)"
        class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
      >
        Remove
      </button>
    </div>

    <button
      type="button"
      (click)="addField()"
      class="bg-indigo-500 text-white px-3 py-1 rounded hover:bg-indigo-600"
    >
      Add Field
    </button>
  </div>

  <!-- Joins Component -->
 <div class="mb-4 mx-4">
  <app-join-query
    [joins]="query.joins"
    (joinsChange)="query.joins = $event"
  ></app-join-query>

  <!-- Filters Component -->
  <app-filters
    [filters]="query.filters"
    (filtersChange)="query.filters = $event"
  ></app-filters>

  <!-- Sort Component -->
  <app-sort
    [orderBy]="query.orderBy"
    (orderByChange)="query.orderBy = $event"
  ></app-sort>

  <!-- Limit Component -->
  <app-limit
    [limit]="query.limit"
    (limitChange)="query.limit = $event"
  ></app-limit>

  <!-- Generate Query Component -->
  <app-query-generate-button
    (generate)="generateQuery()"
  ></app-query-generate-button>
</div>


<!-- Display Generated Query -->
  <div *ngIf="generatedQuery" class="mt-6 p-4 bg-gray-100 border rounded">
    <h4 class="text-lg font-bold text-green-600">Generated Query</h4>
    <pre>{{ generatedQuery }}</pre>
  </div>
</div>
