<div *ngIf="generatedQuery" class="my-6 p-4 border text-center text-gray-200 bg-black text-white rounded-xl relative">
    <h4 class="text-lg font-bold text-gray-200 mb-2">GENERATED QUERY</h4>
    <div class="flex justify-center items-center">
      <pre class="whitespace-pre-wrap">{{ generatedQuery }}</pre>
  
      <img
        src="copy.svg"
        alt="Copy to clipboard"
        (click)="copyToClipboard()"
        class="cursor-pointer w-6 h-6 absolute top-2 right-2"
      />
    </div>
  </div>
  