<div class="m-2">
  <h3 class="font-bold text-xl my-6 text-center">CREATE TABLE</h3>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-4 mx-4">
      <label for="tableName" class="font-bold text-lg block mb-2"
        >Table Name<span class="text-red-500">*</span></label
      >
      <input
        type="text"
        [(ngModel)]="tableName"
        name="tableName"
        class="mb-4 border-2 border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 h-8 p-2.5"
        required
        placeholder="Enter table name"
      />

      <div class="mb-4">
        <label class="block text-lg font-bold mb-2" for="columns"
          >Columns</label
        >

        <!-- Dynamic Columns -->
        <div
          *ngFor="let column of columns; let i = index"
          class="columns-container mx-auto flex flex-nowrap gap-4 justify-between items-center mb-4"
        >
          <div class="column w-1/8">
            <label class="block text-md font-medium" for="column-name"
              >Name <span class="text-red-500">*</span></label
            >
            <input
              [(ngModel)]="column.name"
              name="name{{i}}"
              class="border-2 border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-8 p-2.5"
              required
              placeholder="Enter column name"
            />
          </div>

          <div class="column w-1/8">
            <label class="block text-md font-medium" for="column-type"
              >Type <span class="text-red-500">*</span></label
            >
            <select
              [(ngModel)]="column.type"
              name="type{{i}}"
              class="border-2 border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-8 p-1"
            >
              <option value="" disabled>Choose a data type</option>
              <option value="bigint">Bigint</option>
              <option value="bigserial">Big Serialt</option>
              <option value="boolean">Boolean</option>
              <option value="box">Box</option>
              <option value="bytea">Bytea (Binary Data)</option>
              <option value="char">Char</option>
              <option value="cidr">CIDR (IP Network)</option>
              <option value="circle">Circle</option>
              <option value="date">Date</option>
              <option value="double precision">Double Precision</option>
              <option value="integer">Integer</option>
              <option value="inet">INET (IP Address)</option>
              <option value="interval">Interval</option>
              <option value="json">JSON</option>
              <option value="jsonb">JSONB (Binary JSON)</option>
              <option value="line">Line</option>
              <option value="lseg">Line Segment</option>
              <option value="macaddr">MAC Address</option>
              <option value="money">Money</option>
              <option value="numeric">Numeric</option>
              <option value="point">Point</option>
              <option value="polygon">Polygon</option>
              <option value="real">Real</option>
              <option value="smallint">Smallint</option>
              <option value="smallserial">Small Serial</option>
              <option value="text">Text</option>
              <option value="timestamp">Timestamp</option>
              <option value="timestamp with time zone">
                Timestamp with Time Zone
              </option>
              <option value="time">Time</option>
              <option value="time with time zone">Time with Time Zone</option>
              <option value="uuid">UUID</option>
              <option value="varchar">Varchar</option>
            </select>
          </div>

          <div class="column w-1/8">
            <label class="block text-md font-medium" for="column-length"
              >Length</label
            >
            <input
              [(ngModel)]="column.length"
              name="length{{i}}"
              type="number"
              class="border-2 border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-8 p-2.5"
              placeholder="Enter length"
            />
          </div>

          <div
            class="column w-1/10 flex flex-wrap gap-2 items-center justify-center pt-5"
          >
            <label class="block text-md font-medium" for="column-not-null"
              >Not Null</label
            >
            <input
              [(ngModel)]="column.notNull"
              name="notNull{{i}}"
              type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:outline-none focus:ring-indigo-500"
            />
          </div>

          <div
            class="column w-1/10 flex flex-wrap gap-2 items-center justify-center pt-5"
          >
            <label class="block text-md font-medium" for="column-primary-key"
              >Primary Key</label
            >
            <input
              [(ngModel)]="column.primaryKey"
              name="primaryKey{{i}}"
              type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:outline-none focus:ring-indigo-500"
            />
          </div>

          <div
            class="column w-1/10 flex flex-wrap gap-2 items-center justify-center pt-5"
          >
            <label class="block text-md font-medium" for="column-unique"
              >Unique</label
            >
            <input
              [(ngModel)]="column.unique"
              name="unique{{i}}"
              type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:outline-none focus:ring-indigo-500"
            />
          </div>
          <div class="column w-1/12 flex flex-wrap gap-2 items-center pt-5">
            <img
              src="remove.svg"
              (click)="removeColumn()"
              class="cursor-pointer w-8 h-8 hover:opacity-80"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4 mt-2 mx-4">
      <button
        type="button"
        (click)="addColumn()"
        class="bg-[#7E60BF] max-w-md w-1/5 text-white px-3 py-1 rounded-lg hover:bg-[#433878]"
      >
        + Add Column
      </button>
    </div>
    <div class="flex justify-center mt-2 mb-4">
      <button
        type="submit"
        class="bg-[#5C4B99] text-white px-4 py-2 rounded-lg hover:bg-[#3D246C]"
      >
        Generate Query
      </button>
    </div>
    <div
      *ngIf="generatedQuery"
      class="my-6 p-4 border text-center bg-[#5C4B99] text-white rounded-xl"
    >
      <h4 class="text-lg font-bold text-[#5C4B99]-700 mb-2">GENERATED QUERY</h4>
      <pre>{{ generatedQuery }}</pre>
    </div>
  </form>
</div>
