<div class="join-section mb-4">
  <h3 class="font-bold text-lg mb-2">Joins</h3>
  <div
    *ngFor="let join of joins; let i = index"
    class="flex flex-wrap items-center gap-4 mb-4"
  >
    <!-- Type Section -->
    <div class="flex items-center gap-2 w-full md:w-1/5">
      <label class="whitespace-nowrap">Type:</label>
      <select
        [(ngModel)]="join.type"
        (ngModelChange)="onJoinChange()"
        class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-1 w-full"
      >
        <option value="INNER">INNER</option>
        <option value="LEFT">LEFT</option>
        <option value="RIGHT">RIGHT</option>
        <option value="FULL">FULL</option>
      </select>
    </div>

    <!-- Table Section -->
    <div class="flex items-center gap-2 w-full md:w-1/5">
      <label class="whitespace-nowrap">Table:</label>
      <input
        type="text"
        [(ngModel)]="join.table"
        (ngModelChange)="onJoinChange()"
        name="JoinTable{{ i }}"
        class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-1 w-full"
        placeholder="Enter table name"
      />
    </div>

    <div class="flex items-center gap-2 w-full md:w-1/5">
      <label class="whitespace-nowrap">Alias:</label>
      <input
        type="text"
        [(ngModel)]="join.alias"
        (ngModelChange)="onJoinChange()"
        name="JoinAlias{{ i }}"
        class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-1 w-full"
        placeholder="Enter table alias"
      />
    </div>

    <div class="flex items-center gap-2 w-full md:w-1/5">
      <label class="whitespace-nowrap">On:</label>
      <input
        type="text"
        [(ngModel)]="join.on"
        (ngModelChange)="onJoinChange()"
        name="JoinOn{{ i }}"
        class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-8 p-1 w-full"
        placeholder="e.g., a.id = b.ref"
      />
    </div>

    <!-- Remove Button -->
    <img
    src="remove.svg"
    (click)="removeJoin(i)"
      class="cursor-pointer w-8 h-8 hover:opacity-80"
    />

 
  <img
  src="add.svg"
    type="button"
    (click)="addJoin()"
    class="cursor-pointer w-8 h-8 hover:opacity-80"
  />
</div>
</div>


