<div class="px-4 py-2 border shadow-lg shadow-[#A9A9A9] rounded-xl m-4 bg-[#9E9FA5]">
  <h2 class="text-xl font-bold my-6 text-center">ALTER TABLE</h2>

  <div class="w-1/2 mb-4 mx-4">
    <app-table-name
      [table]="query.table"
      (tableChange)="query.table = $event"
      class="w-1/2 mx-auto"
    ></app-table-name>
  </div>

  <div class="mb-4 mx-4">
    <h4 class="font-bold text-lg mb-4">Add New Column</h4>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <label class="w-40 font-medium">Column Name:</label>
        <input
          type="text"
          [(ngModel)]="query.newColumn.name"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 px-2.5 py-4 flex-1"
          placeholder="New Column Name"
        />
      </div>
      <div class="flex items-center gap-2">
        <label class="w-40 font-medium">Column Type:</label>
        <input
          type="text"
          [(ngModel)]="query.newColumn.type"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 px-2.5 py-4 flex-1"
          placeholder="New Column Type"
        />
      </div>
    </div>
  </div>

  <div class="mb-4 mx-4">
    <h4 class="font-bold text-lg mb-4">Rename Existing Column</h4>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <label class="w-40 font-medium">Old Column Name:</label>
        <input
          type="text"
          [(ngModel)]="query.oldColumnName"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 px-2.5 py-4 flex-1"
          placeholder="Old Column Name"
        />
      </div>
      <div class="flex items-center gap-2">
        <label class="w-40 font-medium">New Column Name:</label>
        <input
          type="text"
          [(ngModel)]="query.newColumnName"
          class="border border-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 px-2.5 py-4 flex-1"
          placeholder="New Column Name"
        />
      </div>
    </div>
  </div>

  <div class="mb-4 mx-4 text-center">
    <app-query-generate-button
      (generate)="generateQuery()"
    ></app-query-generate-button>
  </div>
  
  <app-display-query [generatedQuery]="generatedQuery"></app-display-query>

</div>
